@charset "utf-8";
/* App.css */

h1, h2, h3, h4, h5, h6{
    line-height: 1.5em;
}

.MyHeader{
    position: relative;
    height: 64px;
    border-bottom: 1px solid #d0d0d0;
}
.MyHeader .head_text{
    text-align: center;
    line-height: 64px;
    font-size: 28px;
}
.MyHeader .head_btn_left, .MyHeader .head_btn_right{
    position: absolute;
    top: 8px;
}
.MyHeader .head_btn_left{
    left: 8px;
}
.MyHeader .head_btn_right{
    right: 8px;
}
.MyHeader button{
    width: 48px;
    height: 48px;    
}

.myBtn{
    color: #fff;
}
.myBtn.positive{
    background-color: #04b904;
}
.myBtn.negative{
    background-color: #fa1515;
}
.myBtn.default{
    background-color: #e0e0e0;
    color: #555;
}

.Home .head_btn_left button, .Home .head_btn_right button{
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-indent: -99999px;
    opacity: 0.6;
}
.Home .head_btn_left button{
    background-image: url(./img/arrow-prev.png);
}
.Home .head_btn_right button{
    background-image: url(./img/arrow-next.png);
}

.diaryListTop{
    display: flex;
    padding: 20px;
}
.diaryListTop .left{
    box-sizing: border-box;
    width: 50%;
    padding-right: 10px;
}
.diaryListTop .left select{
    box-sizing: border-box;
    width: calc(50% - 5px);
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 8px;
    margin-right: 5px;
    appearance: none;
    background-image: url(./img/arrow-select.png);
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: right 8px center;
}
.diaryListTop .MyButton{
    width: 50%;
}
.diaryListTop .MyButton button{
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.DiaryItem{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.DiaryItem .item_emo{
    width: 64px;
    margin-right: 20px;
}
.DiaryItem .item_emo img{
    width: 100%;
    height: auto;
}
.DiaryItem .item_info{
    flex-grow: 1;
    padding-bottom: 10px;
}
.DiaryItem .item_date{
    margin-bottom: 5px;
    color: #777;
}
.DiaryItem .item_title{
    font-size: 16px;
    font-weight: 500;
}
.DiaryItem .item_btn{
    margin-left: 20px;
}
.DiaryItem .item_btn button{
    width: 80px;
    height: 32px;
}

/* 일기 쓰기와 수정하기 공통영역 */
.DiaryEdit .head_btn_left button, .Diary .head_btn_left button{
    width: auto;
    padding-left: 22px;
    background-color: transparent;
    background-image: url(./img/arrow-prev.png);
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: left 5px center;
}
.DiaryEdit .diaryForm{
    padding: 20px;
}
.DiaryEdit .diaryForm > div{
    margin-bottom: 40px;
}
.DiaryEdit .diaryForm h3{
    margin-bottom: 15px;
}
.DiaryEdit .diaryForm .date input{
    width: 180px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #ddd;
}
.DiaryEdit .diaryForm .emotion_list ul{
    display: flex;
}
.DiaryEdit .diaryForm .emotion_list li{
    width: 20%;
    border: 1px solid #ddd;
    padding: 20px 0;
    margin: 0 4px ;
    border-radius: 4px;
    text-align: center;
    color: #666;
}
.DiaryEdit .diaryForm .emotion_list li .icon{
    margin-bottom: 10px;    
}
.DiaryEdit .diaryForm .emotion_list li .icon img{
    width: 70%;
    min-width: 48px;
    height: auto;
}
.DiaryEdit .diaryForm .emotion_list .active1{
    border-color: #e16363;
    background-color: lightcoral;
    color: red;
}
.DiaryEdit .diaryForm .emotion_list .active2{
    border-color: #e37449;
    background-color: lightsalmon;
    color: #e37449;
}
.DiaryEdit .diaryForm .emotion_list .active3{
    border-color: #f2f280;
    background-color: lightgoldenrodyellow;
    color: #c8c83d;
}
.DiaryEdit .diaryForm .emotion_list .active4{
    border-color: #08736e;
    background-color: #c3ecc3;
    color: #08736e;
}
.DiaryEdit .diaryForm .emotion_list .active5{
    border-color: #45b145;
    background-color: lightgreen;
    color: #45b145;
}
.DiaryEdit .diaryForm .title input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-origin: 0 15px ;
    border: 1px solid #ddd;
}
.DiaryEdit .diaryForm .content textarea{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 0 15px;
    border: 1px solid #ddd;
    font-family: 'Noto Sans KR', sans-serif;
}
.DiaryEdit .diaryForm .noti{
    display: none;
    margin-top: 10px;
    color: red;
}
.DiaryEdit .diaryForm .btn{
    display: flex;
    justify-content: space-between;;
}
.DiaryEdit .diaryForm .btn button{
    height: 48px;
    padding: 0 25px;
    border-radius: 4px;
    font-size: 15px;
}
/* 상세페이지 */
.diaryPage{
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 30px;
}
.diaryPage .title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.diaryPage .title span{
    margin-left: 8px;
}
.diaryPage .title img{
    width: 20px;
    height: auto;
}
.Diary .btn{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}
.Diary .btn p{
    margin-left: 5px;
}
.Diary .btn button{
    width: auto;
    height: 38px;
    padding: 0 20px;
    border-radius: 4px;
}